<ul class="nav nav-list" id="sideNav">
	{{#each item in view.navItems}}
		{{#view view.NavigationItemView }}
            <a ><i class="icon-chevron-right"></i>{{item.name}}</a>
		{{/view}}
	{{/each}}
</ul>