<h1>Embgo</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
			{{ view App.NavigationView }}
        </div>
        <div class="span10" id="content">
			{{ outlet }}
        </div>
    </div>
</div>